body {
    background-color: #f2f3f8;
    color: #575962;
}

h1 {
    width: 85%;
    margin: 2% auto;
}

.container {
   text-align: center;
}

#clubTable {
    margin: 2% auto;
    /* display:block; */
    /* box-sizing: border-box; */
    background-color: #FFFFFF;
    width: fit-content;
    border-radius: 3px;
    width: 85%;
}
